.pag {
  margin: 2rem 1rem;
}

.content {
  padding: 1rem 15px;
}

.content-img01 {
  background: url(../images/about/01.jpg) center;
  background-size: cover;
}

.content-img02 {
  background: url(../images/about/02.jpg) center;
  background-size: cover;
}

.content-text {
  padding: 1rem;
}

@media (max-width: 767px) {
  .content-img01, .content-img02 {
    height: 42vw;
  }
}